#red, #green, #blue {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}