body {
    background-color: white;
}
.jumbotron-background {
    background-image: url("../images/world_map.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
    
}

.jumbotron {
    color: #FFF;
}



img {
    width: 150px;
}

.panel-heading {
    font-size: 200%;

}

.about-text {
    font-size: 150%;
}

form {
    width: 50%;
}