.jumbotron-background {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    
}

.jumbotron {
    color: #FFF;
}

img {
    width: 150px;
}